/* div{
    height: 100px;
    background-color: pink;
    border-width: 3px;
    border-color: rgb(109, 42, 42);
    width: 100px;
    border-style: solid;
    text-align: left;
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px; */
    /* padding: 40px; */
    /* margin: 40px; */
/* } */
/* h1{ */
    /* background-color: aquamarine; */
    /* border-color: red; */
    /* border-width: 5px; */
    /* border-style: dotted; */
    /* border: 5px solid violet; */
    /* width: 200px; */
/* } */ 

.box{
    height: 100px;
    width: 100px;
    border: 2px solid block;
    display: inline-block    
}