div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    background-color: aquamarine;
}
#box1{
    position: fixed;  /* irrespective of the flow*/
    top: 50px;
    z-index: 1; /* no changes*/
}
#box2{
    position: sticky; 
    left:50px; /*relative to itself*/
}
#box3{
    position: sticky;  /* relative to the browser */
    top: 20px;
}
#box4{
    position: sticky;
}